.projects {
  width: 70%;
  min-height: 80vh;
  height: auto;
  padding: 2% 2% 2% 2%;
  background-color: var( --foreground-color);
  border-radius: 30px;
  margin: 2% 0% 2% 0%;
  border: 0.2px solid var(--white);
}
.projectTag {
  width: 100%;
  height: auto;
  text-align: center;
}

.projectContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectItem {
  margin: 10px;
}


@media only screen and (max-width: 600px) {

  .projects {
    width: 90%;
  }

}