.buttonText {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
}

.link span {
  position: relative;
}

.link .color {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  background-color: var(--seconday-color);
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: -0.65em;
}

.svgContainer svg {
  position: relative;
  top: 0.3rem;
  width: 40px;
  height: 30px;
  margin-left: 0.5em;
  fill: var(--text-color);
}