.ExpProject {
  width: 70%;
  min-height: 80vh;
  height: auto;
  padding: 2% 2% 2% 2%;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 2% 0% 2% 0%;
}

.zoomIn {
  animation: ZoomIn 0.5s ease-out;
}

.zoomOut {
  animation: ZoomOut 0.5s ease-out;
}

.expProjCross {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--dark-grey);
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  background: linear-gradient(to left, var(--primary-color) 50%, var(--dark-grey) 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all .3s ease-out;
}

.expProjCross:hover {
  background-position: bottom left;
  color: var(--white);
}


.expProjCrossBefore,
.expProjCrossAfter {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: var(--dark-grey);
  border-radius: 0;
  top: 19px;
  z-index: 0;
}

.expProjCrossBefore {
  transform: rotate(-45deg);
  left: 10px;
}

.expProjCrossAfter {
  transform: rotate(-135deg);
  right: 10px;
}

.expProjCross:hover .expProjCrossBefore{
  background-color: var(--white);
}

.expProjCross:hover .expProjCrossAfter{
  background-color: var(--white);
}

.imageView {
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
}

.imageView img {
  width: 90%;
  height: 60vh;
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 1px solid var(--white);
}

.expProjTitle {
  text-align: center;
  color: var(--text-color);
  margin: 20px 0 0 0;
}

.projTitle {
  font-weight: bolder;
  text-transform:uppercase;
  text-decoration: underline;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 20px;
  display: inline-block;
}

dd {
  display: list-item;
  list-style-type: "⚬";
  padding-inline-start: 1ch;
}

.expProjDescription {
  padding: 10px 0 10px 30px;
}

.skill {
  background-color: var(--background-color);
  border: 1px solid var(--dark-grey);
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration:dotted;
  margin: 0px;
  margin: 0 10px 10px 0;
  width: fit-content;
  border-radius: 20px;
  display: inline-block;
}

.expProjInfo {
  padding: 10px 0 30px 30px;
}


.expProjInfo h2 {
  font-weight: 500;
  font-size: 20px;
}

.expProjInfo h2 span {
  font-weight: 200;
}


.expProjButton {
  display: flex;
  justify-content: space-around;
}

@keyframes ZoomIn {  
  0% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes ZoomOut {  
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}


@media only screen and (max-width: 1000px) {

  .ExpProject {
    width: 80%;
  }

}


@media only screen and (max-width: 800px) {

  .ExpProject {
    margin-top: 40px;
  }

  .imageView img {
    width: 90%;
    height: 40vh;
  }

}


@media only screen and (max-width: 500px) {

  .ExpProject {
    width: 80%;
    margin-top: 40px;
  }

  .imageView {
    padding: 20px 0 20px 0;
  }

  .imageView img {
    width: 80%;
    height: 20vh;
  }

  .expProjButton {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 20vh;
  }

}
