@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --pink: #e02f6b;
  --white: #ffffff;
  --blue: #7FFFD4;
  --background-color: #51FFC5;
  --foreground-color: #7FFFD4;
  --blue-dark: #18293c;
  --red: #D62600;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color)
}

.Container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

