@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --dark-grey: #276A7F;
  --white: #FFFFFF;
  --background-color: #7FFFD4;
  --primary-color: #51FFC5;
  --seconday-color: #00DAC3;
  --text-color: #2F4858;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color)
}

.Container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

